figures/*
__pycache__/*

.idea
.ipynb_checkpoints
.gitignore~
..gitignore.un~
*.pth
*.png


# Binary/data artifacts
*.pkl
*.pickle
*.npz
*.npy
*.h5
*.pt
*.pth

# Recommended general ignores
__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/
.idea/

